<h2><strong>List Passengers</strong></h2>
<mat-list *ngFor="let user of userList">
    <mat-list-item><mat-icon>info</mat-icon>{{this.user.NamePayment}}</mat-list-item>
    <mat-list-item><mat-icon>phone</mat-icon>{{this.user.PhoneNumber}}</mat-list-item>
    <mat-list-item><mat-icon>location_on</mat-icon>{{this.user.Address}}</mat-list-item>
    <mat-list-item><mat-icon>email</mat-icon>{{this.user.Email}}</mat-list-item>
    <mat-list-item><mat-icon>supervised_user_circle</mat-icon>{{this.user.Descriptions}}</mat-list-item>
    <mat-divider></mat-divider>
</mat-list>