<li>
    <figure>
        <img src="assets/images/resources/friend-avatar.jpg" alt="">
        <div *ngIf="m_isOnline; then if_span else else_span"></div>
        <ng-template #if_span>
            <span class="status f-online"></span>
        </ng-template>
        <ng-template #else_span>
            <span class="status f-offline"></span>
        </ng-template>
    </figure>
    <div class="friendz-meta">
        <a href="time-line.html">bucky barnes</a>
        <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a0d7c9ced4c5d2d3cfccc4c5d2e0c7cdc1c9cc8ec3cfcd">[email&#160;protected]</a></i>
    </div>
</li>