<div class="user-post">
    <div class="friend-info">
        <figure>
            <img [src]="uriHandler.getImageSource(postData.authorThumb)" alt="">
        </figure>
        <div class="friend-name">
            <ins><a (click)="getNavigation(postData.authorId)" [routerLink]="['/timeline/:', postData.authorId]" title="">{{postData.authorName}}</a></ins>
            <span>published: {{postData.dateCreated}}</span>
        </div>
        <app-post-meta [content]="postData.content" [imageUri]="uriHandler.getImageSource(postData.imageUri)"></app-post-meta>
    </div>
    <div class="coment-area"> 
        <app-comment-area [commentJson]="postData.commentJson"></app-comment-area>
    </div>
</div>