<h1><strong>New Post</strong></h1>
<mat-form-field class="example-full-width">
    <mat-label>Write Something...</mat-label>
    <textarea style="height: 100px;"matInput></textarea>
</mat-form-field>
<div class="form-group">
    <img [src]="url" height="200"> <br/>
    <input type='file' accept="image/*" (change)="onSelectFile($event)">
 </div>

 <div mat-dialog-actions class="myDiv">
    <button class="btn btn-primary" mat-button >Post</button>
    <button class="btn btn-danger left" mat-button >Cancel</button>
</div>