<div class="theme-layout">
	<div class="topbar stick">		
        <div class="logo">
			<a title="" href="#"><img src="assets/images/logo.png" alt=""></a>
		</div>
		<div class="top-area">
			<div class="top-search">
				<form method="post" class="">
					<input type="text" placeholder="Search Friend">
					<button data-ripple><i class="ti-search"></i></button>
				</form>
			</div>
			<div class="login-form">
				<form method="post">
                    <input type="text" placeholder="User Name">
                    <a> - </a>
					<input type="password" placeholder="Passoword">
					<button [routerLink]="['/login']"type="submit">Login</button>
				</form>
			</div>
		</div>
	</div><!-- topbar with logout -->	